* {
  margin: 0;
  padding: 0;
  font-weight: inherit;
}

body {
  margin: 1em;
  font-size: 24px;
  line-height: 1.4em;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 200;
  color: #333;
  background-color: #FEFEFE;
}

ul, ol {
  margin-left: 1em;
}

h1 {
  font-size: 2.4em;
  margin-bottom: .5em;
  white-space: nowrap;
}

h2 {
  font-size: 1.6em;
  margin-bottom: .5em;
}
p {
  margin: .25em 0;
}
a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px dashed #CCC;
}
a:hover {
  color: #007ADE;
  border-bottom: 1px solid #007ADE;
}
.navigation {
  text-align: center;
  font-weight: 300;
  padding: .25em 0; 
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
}
.navigation > ul {
  list-style-type: none; 
  margin: 0;
}
.navigation > ul > li {
  display: inline-block;
}
.navigation > ul > li > a {
  display: block;
  padding: .25em 1.5em;
  border-bottom-style: none;
}
.navigation > ul > li > a.current {
  color: #DE3400;
  font-weight: 400;
}
.content {
  padding: 1em 0;
}
.footer {
  border-top: 1px solid #EEE;
  font-size: .75em;
}
.footer > .social ul {
  float: right;
  list-style-type: none;
}
.footer > .social ul > li {
  display: inline-block;
  margin-left: .5em;
}
.footer > .social ul > li > a {
  text-decoration: none;
}

@media screen and (max-width: 980px) {
  body {
    margin: .5em;
  }
}
@media screen and (max-width: 480px) {
  .navigation > ul > li > a {
    padding: 0 .5em;
  }
}
