* {
  margin: 0;
  padding: 0;
}

body {
  margin: 1em;
  font-size: 120%;
  line-height: 1.4em;
  font-family: Garamond, Georgia, serif;
  color: #444;
  background-color: #FEFEFE;
}

p {
  text-align: justify;
}

ul, ol {
  margin: 0 0 1em 1em;
}
ul {
  list-style-type: square;
}

h1 {
  font-size: 2.4em;
  margin-bottom: .5em;
  white-space: nowrap;
  font-weight: normal;
  font-variant: small-caps;
}

h2 {
  font-size: 1.6em;
  font-weight: normal;
  margin-bottom: 1em;
  text-align: center;
}
h3 {
  font-size: 1.3em;
  border-left: .4em solid #EEE;
  border-bottom: 1px solid #EEE;
  padding-left: .5em;
  margin-bottom: .5em;
  margin-top: 1em;
  line-height: 1.6em;
  font-weight: bold;
}
h4 {
  font-size: 1.1em;
  margin: 1.25em 0 .25em 0;
  font-weight: bold;
}
h5 {
  font-size: 1em;
  margin: 1.25em 0 .25em 0;
  font-weight: bold;
}
p {
  margin: .25em 0 .75em 0;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #007ADE;
}
table > thead td {
  border-bottom: 1px solid #EEE;
}
td {
  padding: 0 1em;
}

code {
  font-size: .7em;
  line-height: 1.2em;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  margin: 1em;
  padding: .5em;
  border: 1px solid #CCC;
  background-color: #F3F3F3;
  border-radius: .25em;
  display: block;
  white-space: pre-wrap;
}
.navigation {
  text-align: center;
  font-variant: small-caps;
  padding: .25em 0; 
  margin: 1.5em 0;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
}
.navigation > ul {
  list-style-type: none; 
  margin: 0;
}
.navigation > ul > li {
  display: inline-block;
}
.navigation > ul > li > a {
  display: block;
  padding: .25em 1.5em;
}
.navigation > ul > li > a.current {
  color: #DE3400;
  font-weight: bold;
}
.content a {
  border-bottom: 1px dashed #CCC;
}
.content a:hover {
  border-bottom: 1px solid #007ADE;
}
.footer {
  border-top: 1px solid #EEE;
  margin-top: 4em;
  font-size: .75em;
}
.footer > .social ul {
  float: right;
  list-style-type: none;
}
.footer > .social ul > li {
  display: inline-block;
  margin-left: .5em;
}

@media screen and (max-width: 980px) {
  body {
    margin: .5em;
  }
}
@media screen and (max-width: 480px) {
  .navigation > ul > li > a {
    padding: 0 .5em;
  }
}
