body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.75em;
    color: #555;
    background-color: #F9F9F9;
}

h2,h3,h4 {
    margin: 1em 0;
}
h2 {
    font-weight: bold;
}
h3 {
    border-bottom: 1px solid #DDD;
}

.nav-horizontal > li {
    display: inline-block;
}
.nav-horizontal > li > a {
    font-weight: bold;
    color: #555;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .9em;
}
.nav-horizontal > li > a:hover {
    color: #428bca;
}
header {
    border-bottom: 1px solid #DDD;
}
header nav > .nav-horizontal {
    margin: 1.5em 0;
}

section {
    padding: 1em 0 2em 0;
    background-color: #FFF;
}

footer {
    border-top: 1px solid #DDD;
    padding: 2em 0;
    font-size: .85em;
}
footer h3 {
    color: #999;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
}
footer .social {
    text-align: center;
}
footer .social a {
    color: #CCC;
}
footer .social a:hover {
    color: #428bca;
}
